body {
  background-image: url("img/background.jpg");
  background-size: cover;
  background-position: center top;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

section {
  background-color: #2f302c;
  padding: 20px;
  border-radius: 7px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -300px;
}

h1 {
  text-align: center;
}

input {
  border-radius: 15px;
  border: none;
  transform: scale(1.35);
}

.name input {
  margin: 0px 25px 5px 40px;
}

.email input {
  padding-right: 180px;
  margin-left: 70px;
}

textarea {
  border: none;
  border-radius: 15px;
  margin-left: 10px;
}

.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  margin-left: 185px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.shadow__btn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}
